In [1]:
import pandas as pd
import numpy as np
import pymongo

In [2]:
client=pymongo.MongoClient("mongodb+srv://sabitha:Ganesh12@cluster0.vtvkffr.mongodb.net/?retryWrites=true&w=majority")
db = client.sample_airbnb
col = db.listingsAndReviews

In [56]:
rel_data = []
for i in col.find():
    data = dict(Id = i['_id'],
                Listing_url = i['listing_url'],
                Name = i.get('name'),
                Description = i['description'],
                House_rules = i.get('house_rules'),
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Min_nights = int(i['minimum_nights']),
                Max_nights = int(i['maximum_nights']),
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds = i.get('beds'),
                Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                Security_deposit = i.get('security_deposit'),
                Cleaning_fee = i.get('cleaning_fee'),
                Extra_people = i['extra_people'],
                Guests_included= i['guests_included'],
                No_of_reviews = i['number_of_reviews'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
                Amenities = ', '.join(i['amenities']),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Street = i['address']['street'],
                Country = i['address']['country'],
                Country_code = i['address']['country_code'],
                Location_type = i['address']['location']['type'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1],
                Is_location_exact = i['address']['location']['is_location_exact']
    )
    rel_data.append(data)

In [57]:
df = pd.DataFrame(rel_data)
df

,Id,Listing_url,Name,Description,House_rules,Property_type,Room_type,Bed_type,Min_nights,Max_nights,...,Amenities,Host_id,Host_name,Street,Country,Country_code,Location_type,Longitude,Latitude,Is_location_exact
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",No smoking is permitted in the apartment. All ...,Apartment,Private room,Real Bed,12,360,...,"Internet, Wifi, Air conditioning, Kitchen, Ele...",454250,Greta,"New York, NY, United States",United States,US,Point,-73.965230,40.799620,False
1,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,"Be and feel like your own home, with total res...",House,Entire home/apt,Real Bed,2,1125,...,"TV, Cable TV, Internet, Wifi, Kitchen, Free pa...",1241644,Zeynep,"Kadıköy, İstanbul, Turkey",Turkey,TR,Point,29.031330,40.985850,True
2,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Make the house your home...,House,Entire home/apt,Real Bed,2,30,...,"TV, Cable TV, Wifi, Kitchen, Paid parking off ...",51399391,Ana&Gonçalo,"Porto, Porto, Portugal",Portugal,PT,Point,-8.613080,41.141300,False
3,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,"Old floor, intirely reformed, destined to rece...",,House,Private room,Real Bed,2,1125,...,"TV, Cable TV, Internet, Wifi, Air conditioning...",51326285,Beatriz,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-43.180157,-22.926382,True
4,10082307,https://www.airbnb.com/rooms/10082307,Double Room en-suite (307),A standard double room with a queen size doubl...,,Apartment,Private room,Real Bed,1,1125,...,"TV, Internet, Wifi, Air conditioning, Wheelcha...",51289938,Ken,"Hong Kong, Kowloon, Hong Kong",Hong Kong,HK,Point,114.171580,22.304690,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9807679,https://www.airbnb.com/rooms/9807679,COPACABANA AMAZING APARTMENT IN FRONT OF THE B...,"Hey Dears, The apartment is in the best locati...",- BOM SENSO,Apartment,Entire home/apt,Real Bed,1,1125,...,"TV, Cable TV, Internet, Wifi, Air conditioning...",47014368,Bruno,"Rio de Janeiro, RJ, Brazil",Brazil,BR,Point,-43.190945,-22.983643,True
5551,9867316,https://www.airbnb.com/rooms/9867316,Beautiful Place in the Middle of Manhattan,Beautiful place only a couple blocks from main...,1. NO smoking 2. NO outside guests 3. Please t...,Apartment,Entire home/apt,Real Bed,1,1125,...,"Wifi, Air conditioning, Kitchen, Pets allowed,...",40540485,Miguel,"New York, NY, United States",United States,US,Point,-73.962050,40.762660,True
5552,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,We like to keep the flat clean and tidy so wou...,Apartment,Private room,Real Bed,3,1125,...,"TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...",47615848,Lucy,"Bondi Beach, NSW, Australia",Australia,AU,Point,151.265420,-33.892980,False
5553,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,Cuidar das instalações e objetos da casa em pe...,Apartment,Entire home/apt,Real Bed,1,1125,...,"TV, Cable TV, Internet, Wifi, Air conditioning...",47092481,Aliane,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-43.173761,-22.908336,False
5554,9990304,https://www.airbnb.com/rooms/9990304,March Madness Special! Aina Nalu Platinum D107,Walk out to Saltwater Infinity Pool! Call us N...,"As a guest of Coconut Condos, I agree to the f...",Condominium,Entire home/apt,Real Bed,3,365,...,"TV, Cable TV, Wifi, Air conditioning, Wheelcha...",51013381,Coconut Condos,"Lahaina, HI, United States",United States,US,Point,-156.676460,20.875610,False

**Data type Correction**

In [58]:
# checking Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   5555 non-null   object
 1   Listing_url          5555 non-null   object
 2   Name                 5555 non-null   object
 3   Description          5555 non-null   object
 4   House_rules          5555 non-null   object
 5   Property_type        5555 non-null   object
 6   Room_type            5555 non-null   object
 7   Bed_type             5555 non-null   object
 8   Min_nights           5555 non-null   int64
 9   Max_nights           5555 non-null   int64
 10  Cancellation_policy  5555 non-null   object
 11  Accomodates          5555 non-null   int64
 12  Total_bedrooms       5550 non-null   float64
 13  Total_beds           5542 non-null   float64
 14  Availability_365     5555 non-null   int64
 15  Price                5555 non-null   object
 16  Security_deposit     3471 non-null   object
 17  Cleaning_fee         4024 non-null   object
 18  Extra_people         5555 non-null   object
 19  Guests_included      5555 non-null   object
 20  No_of_reviews        5555 non-null   int64
 21  Review_scores        4081 non-null   float64
 22  Amenities            5555 non-null   object
 23  Host_id              5555 non-null   object
 24  Host_name            5555 non-null   object
 25  Street               5555 non-null   object
 26  Country              5555 non-null   object
 27  Country_code         5555 non-null   object
 28  Location_type        5555 non-null   object
 29  Longitude            5555 non-null   float64
 30  Latitude             5555 non-null   float64
 31  Is_location_exact    5555 non-null   bool
dtypes: bool(1), float64(5), int64(5), object(21)
memory usage: 1.3+ MB

In [59]:
# The below features are in Decimal128 type hence changing it to relevant data types
df.Price = df.Price.astype(str).astype(float)
df.Security_deposit = df.Security_deposit[~df.Security_deposit.isna()].astype(str).astype(float)
df.Cleaning_fee = df.Cleaning_fee[~df.Cleaning_fee.isna()].astype(str).astype(float)
df.Extra_people = df.Extra_people.astype(str).astype(float)
df.Guests_included = df.Guests_included.astype(str).astype(float)
df.Review_scores = df.Review_scores.astype('Int64')

**Filling Missing values**

In [60]:
df.isna().sum()

Id                        0
Listing_url               0
Name                      0
Description               0
House_rules               0
Property_type             0
Room_type                 0
Bed_type                  0
Min_nights                0
Max_nights                0
Cancellation_policy       0
Accomodates               0
Total_bedrooms            5
Total_beds               13
Availability_365          0
Price                     0
Security_deposit       2084
Cleaning_fee           1531
Extra_people              0
Guests_included           0
No_of_reviews             0
Review_scores          1474
Amenities                 0
Host_id                   0
Host_name                 0
Street                    0
Country                   0
Country_code              0
Location_type             0
Longitude                 0
Latitude                  0
Is_location_exact         0
dtype: int64

In [61]:
# Filling Total bedrooms with mode
df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
# Filling Total beds with median because data has outliers
df.Total_beds.fillna(df.Total_beds.median(),inplace=True)
df.Security_deposit.fillna(df.Security_deposit.median(),inplace=True)
df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)
df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\1650382249.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\1650382249.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Total_beds.fillna(df.Total_beds.median(),inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\1650382249.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Security_deposit.fillna(df.Security_deposit.median(),inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\1650382249.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\1650382249.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

In [62]:
# Filling Empty values in Description and House rules columns
df.Description.replace(to_replace='',value='No Description Provided',inplace=True)
df.House_rules.replace(to_replace='',value='No House rules Provided',inplace=True)
df.Amenities.replace(to_replace='',value='Not Available',inplace=True)

C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\419996349.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Description.replace(to_replace='',value='No Description Provided',inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\419996349.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.House_rules.replace(to_replace='',value='No House rules Provided',inplace=True)
C:\Users\kallai Karthi\AppData\Local\Temp\ipykernel_9200\419996349.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Amenities.replace(to_replace='',value='Not Available',inplace=True)

In [63]:
df.isna().sum()

Id                     0
Listing_url            0
Name                   0
Description            0
House_rules            0
Property_type          0
Room_type              0
Bed_type               0
Min_nights             0
Max_nights             0
Cancellation_policy    0
Accomodates            0
Total_bedrooms         0
Total_beds             0
Availability_365       0
Price                  0
Security_deposit       0
Cleaning_fee           0
Extra_people           0
Guests_included        0
No_of_reviews          0
Review_scores          0
Amenities              0
Host_id                0
Host_name              0
Street                 0
Country                0
Country_code           0
Location_type          0
Longitude              0
Latitude               0
Is_location_exact      0
dtype: int64

In [64]:
# Checking Duplicate records
df[df.duplicated()]

Empty DataFrame
Columns: [Id, Listing_url, Name, Description, House_rules, Property_type, Room_type, Bed_type, Min_nights, Max_nights, Cancellation_policy, Accomodates, Total_bedrooms, Total_beds, Availability_365, Price, Security_deposit, Cleaning_fee, Extra_people, Guests_included, No_of_reviews, Review_scores, Amenities, Host_id, Host_name, Street, Country, Country_code, Location_type, Longitude, Latitude, Is_location_exact]
Index: []

[0 rows x 32 columns]

In [65]:
# Name Column has empty values and some duplicates hence dropping them
df.drop(labels=list(df[df.Name.duplicated(keep=False)].index),inplace=True)

In [66]:
df.reset_index(drop=True,inplace=True)

In [67]:
# Converting dataframe to csv file and saving it
df.to_csv('Airbnb_data.csv',index=False)